div.pdp(ng-controller='PdpController as pdp')
    .panel.panel-default
        .panel-heading
            .panel-title Position
        .panel-body
            h4 {{pdp.userPDP.position.name}} {{pdp.userPDP.direction.name}}
    accordion
        accordion-group.voffset4(is-open='pdp.status.isCertificationsOpen')
            accordion-heading
              | Certifications
              i.pull-right.glyphicon(ng-class="{'glyphicon-chevron-down': pdp.status.isCertificationsOpen, 'glyphicon-chevron-right': !pdp.status.isCertificationsOpen}")
            .col-md-4.col-height(ng-repeat='certification in pdp.userPDP.completedCertifications')
                div.thumbnail(popover="{{certification.description}}" popover-trigger="mouseenter")
                  .clearfix
                    img.img-responsive(ng-src='{{certification.src}}')
                  div.cert-name 
                    b {{certification.name}}
                  div.cert-category Category: {{certification.category.name}}
    accordion
        accordion-group.voffset4(is-open='pdp.status.isAchievementsOpen')
            accordion-heading
              | Achievements
              i.pull-right.glyphicon(ng-class="{'glyphicon-chevron-down': pdp.status.isAchievementsOpen, 'glyphicon-chevron-right': !pdp.status.isAchievementsOpen}")
            .col-md-4.col-height(ng-repeat='achievement in pdp.userPDP.achievements')
                div.thumbnail(popover="{{achievement.description}}" popover-trigger="mouseenter")
                  .clearfix
                    img.img-responsive(ng-src='{{achievement.src}}')
                  div.achieve-name
                    b {{achievement.name}}
                  div.achieve-category Category: {{achievement.category.name}}
    accordion
        accordion-group.voffset4(is-open='pdp.status.isStepsOpen')
          accordion-heading
              | Steps needed to reach the next position 
              i.pull-right.glyphicon(ng-class="{'glyphicon-chevron-down': pdp.status.isStepsOpen, 'glyphicon-chevron-right': !pdp.status.isStepsOpen}")
          h4 Technologies
            .list-group(ng-repeat='technology in pdp.userPDP.technologies')
              label.list-group-item
                  input(type='checkbox' ng-model='technology.completed' ng-change='pdp.updateTechnologies(technology)')
                  span(ng-class="{completed: technology.completed}") {{technology.name}}
          h4 Certifications
            .list-group(ng-repeat='certification in pdp.userPDP.certifications')
              label.list-group-item
                  input(type='checkbox' ng-model='certification.completed' ng-change='pdp.updateCertifications(certification)')
                  span(ng-class="{completed: certification.completed}") {{certification.name}}
          h4 Tasks
            .list-group(ng-repeat='task in pdp.userPDP.tasks')
              label.list-group-item
                  input(type='checkbox' ng-model='task.completed' ng-change='pdp.updateTasks(task)')
                  span(ng-class="{completed: task.completed}") {{task.name}}
          h4 Tests
            .list-group(ng-repeat='test in pdp.userPDP.tests')
              label.list-group-item
                  input(type='checkbox' ng-model='test.completed' ng-change='pdp.updateTests(test)')
                  span(ng-class="{completed: test.completed}") {{test.name}}
