div(ng-controller='userProfileDataController as updCtrl', ng-init='deactivateUserProfileTab()')
	button.btn.btn-secondary(type='button', ng-click="goToMyProfile()") Secondary
	tabset
		tab(ng-repeat='tab in updCtrl.tabs',
			heading='{{tab.title}}',
			active='tab.active',
			disable='tab.disabled',
			class="uptab")
			br
			.page(ng-include='', src="tab.content")
