doctype html
html(ng-app='myApp')
  head(lang='en')
    meta(charset='UTF-8')
    title
  body

    h1 404 not found

    // SCRIPTS
    script(src="js/dependencies/angular.amin.js")
    script(src="js/dependencies/angular.cookies.min.js")
    script(src="js/dependencies/angular.messages.js")
    script(src="js/dependencies/angular.resource.min.js")
    script(src="js/dependencies/angular.route.min.js")
    script(src="js/dependencies/ng-file-upload.min.js")
    script(src="js/dependencies/sails.io.js")
    script(src="js/dependencies/ui-bootstrap-tpls.js")
    script(src="js/main.js")
    // SCRIPTS END

