doctype html
html(ng-app='myApp')
  head(lang='en')
    meta(charset='UTF-8')
    title
  body(ng-controller='GreetingCtrl as ctrl')
    | {{ctrl.greeting}}
    
    // SCRIPTS
    script(src="js/dependencies/angular.min.js")
    script(src="js/dependencies/sails.io.js")
    script(src="js/angular-app.js")
    script(src="js/user-profile/userProfileControllers.js")
    // SCRIPTS END