doctype html
html(ng-app='myApp')
    head(lang='eng')
        base(href="/")
        meta(charset='UTF-8')
        title User Profile
        // STYLES
        // STYLES END
    body
        header.container-fluid
            .col-lg-1
                img.logo(src="http://academy.binary-studio.com/resources/logo.png")

        .col-md-6.col-md-offset-3.article(ng-include="'js/creating-user/creating-user.html'")

        // SCRIPTS
        // SCRIPTS END
                                 