doctype html
html(ng-app='myApp')
    head(lang='eng')
        meta(charset='UTF-8')
        title User Profile

        // STYLES
        link(rel="stylesheet", href="styles/src.css")
        // STYLES END
    body(ng-controller='GreetingCtrl as ctrl')
        | {{ctrl.greeting}}
        br
        div(m-greeting, text='ctrl.greeting')
        // SCRIPTS
        script(src="js/dependencies/angular.min.js")
        script(src="js/dependencies/sails.io.js")
        script(src="js/angular-app.js")
        script(src="js/user-profile/userProfileControllers.js")
        // SCRIPTS END
                                                                        