doctype html
html(ng-app='myApp')
  head(lang='en')
    meta(charset='UTF-8')
    title
  body
    h1 Homepage

    // SCRIPTS
    script(src="/js/dependencies/sails.io.js")
    script(src="/concat/libs.js")
    script(src="/js/angular-test/myApp.js")
    // SCRIPTS END