doctype html
html(ng-app='myApp')
    head(lang='eng')
        base(href="/")
        meta(charset='UTF-8')
        title User Profile
        // STYLES
        link(rel="stylesheet", href="styles/achievements.css")
        link(rel="stylesheet", href="styles/cv.css")
        link(rel="stylesheet", href="styles/dependencies/bootstrap.css")
        link(rel="stylesheet", href="styles/homepage.css")
        link(rel="stylesheet", href="styles/main.css")
        link(rel="stylesheet", href="styles/pdp.css")
        // STYLES END
    body
        header.container-fluid
            .col-lg-1
                img.logo(src="http://academy.binary-studio.com/resources/logo.png")
            div(ng-controller="MainController as ctrl", class="container-fluid")
                .col-lg-4
                .col-lg-8
                    .container-fluid
                        .col-lg-8
                        .col-lg-4
                            .input-group
                                input.form-control(ng-model="ctrl.searchText", type='text', ng-keyup='ctrl.search()', placeholder='Search for...')
                                span.input-group-btn
                                    //- button.btn.btn-primary(type='button', ng-click='ctrl.search()') Go!
                                    button.btn.btn-default(type='button', ng-click='ctrl.go("/search")') filters
                            .list-group(ng-model="ctrl.usersList")
                                button.list-group-item(ng-repeat="user in ctrl.usersList track by $index",type='button', ng-click='ctrl.showUserPage($index)') {{user.name}}&#160;{{user.surname}}
        main.container-fluid
            .row(ng-controller='TabsCtrl')
                #nav.col-lg-2.col-lg-offset-2
                    div
                        tabset(vertical="true")
                            tab(ng-repeat='tab in tabs', heading='{{tab.title}}', active='tab.active', disable='tab.disabled', select="changeHash(tab.href)")
                .col-lg-6.article(ng-view)
        //- footer
        //-     .container-fluid
        //-         .row
        // SCRIPTS
        script(src="js/dependencies/angular.min.js")
        script(src="js/dependencies/angular.resource.min.js")
        script(src="js/dependencies/angular.route.min.js")
        script(src="js/dependencies/ng-file-upload.min.js")
        script(src="js/dependencies/sails.io.js")
        script(src="js/dependencies/ui-bootstrap-tpls.js")
        script(src="js/main.js")
        // SCRIPTS END
