doctype html
html(ng-app='myApp')
    head(lang='eng')
        base(href="/")
        meta(charset='UTF-8')
        title User Profile
        // STYLES
        // STYLES END
    body
        header
            div(ng-controller="MainController as ctrl", class="container-fluid")
                .col-lg-2
                .col-lg-10
                    .container-fluid
                        .col-lg-10
                        .col-lg-2
                            .input-group
                                input.form-control(ng-model="ctrl.searchText", type='text', placeholder='Search for...')
                                span.input-group-btn
                                    button.btn.btn-default(type='button', ng-click='ctrl.search()') Go!
                            .list-group(ng-model="ctrl.usersList")
                                button.list-group-item(ng-repeat="user in ctrl.usersList",type='button') {{user.name}}
        main.container-fluid
            .row(ng-controller='TabsCtrl')
                #nav.col-lg-2.col-lg-offset-2
                    div
                        tabset(vertical="true")
                            tab(ng-repeat='tab in tabs', heading='{{tab.title}}', active='tab.active', disable='tab.disabled', select="changeHash(tab.href)")
                .col-lg-6.article(ng-view)
        footer
            .container-fluid
                .row
        // SCRIPTS
        // SCRIPTS END
