html
    body
        form#uploadForm(enctype='multipart/form-data', action='/api/file/upload/123', method='post')
            input(type='file', name='uploadFile')
            input(type='submit', value='submit')
        // SCRIPTS
        script(src="/js/dependencies/sails.io.js")
        // SCRIPTS END