html
    body
        form#uploadForm(enctype='multipart/form-data', action='/api/file/upload/123', method='post')
            input(type='file', name='uploadFile')
            input(type='submit', value='submit')
        // SCRIPTS
        script(src="js/dependencies/angular.min.js")
        script(src="js/dependencies/angular.resource.min.js")
        script(src="js/dependencies/angular.route.min.js")
        script(src="js/dependencies/sails.io.js")
        script(src="js/dependencies/ui-bootstrap-tpls.js")
        script(src="js/main.js")
        // SCRIPTS END