doctype html
html(ng-app='myApp')
   head(lang='eng')
      meta(charset='UTF-8')
      title User Profile

   // STYLES
   // STYLES END

body(ng-controller='GreetingCtrl as ctrl')
   | {{ctrl.greeting}}

   // SCRIPTS
   // SCRIPTS END



