html
head
   meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
   title User Profile

   // STYLES
   link(rel="stylesheet", href="concat/production.css")
   // STYLES END
body

   p Прівєт, Мішу!
   //CONTENT BEGIN
   //CONTENT END

   // SCRIPTS
   script(src="concat/production.js")
   // SCRIPTS END