script(type='text/ng-template', id='dropDownList.html').
	<a>
	<span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
	</a>

.container-fluid(ng-controller='CVPublicController')
	script(type='text/ng-template', id='modalImage.html').
		<div class="modal-header">
			<span class="modal-title">Screenshot {{image.index + 1}} of {{number}}</span>
			<a href="#" class="pull-right" ng-click="cancel($event)">Close</a>
		</div>
		<div class="modal-body">
			<img ng-src="{{images[image.index].img}}" class="img-responsive center-block screenshot" dynamic-src>
		</div>
	.row
		div.col-sm-12.v-center
			h4 Technologies
		div.col-sm-12.voffset3
			| Sort by knowledge level:
			rating(ng-model='knowledge' max='5' readonly='isReadonly' on-hover='hoveringOver(value)' on-leave='overStar = null')
			ul.technologies-list.voffset3
				li.categories(ng-repeat='tech in userTechnologies | unique')
					span.category-name
						| {{tech.category.name}}:
					button(ng-repeat='tech in userTechnologies | filter: {category: {id: tech.category.id}} | rating: knowledge',
						class = 'stars stars-{{tech.stars}}', ng-click='showRating = !showRating')
						| {{tech.name}}
						rating(ng-model='tech.stars' max='5' readonly='true' on-hover='hoveringOver(value)' on-leave='overStar = null', ng-show='showRating')
	.row
		div.col-sm-12.v-center
			h4 Projects
		div.col-sm-12.voffset3
			.panel.panel-default.project(ng-repeat='project in userProjects')
				.panel-heading.project-header
					div.project-title(ng-click="project.isCollapsed = !project.isCollapsed")
						b {{project.name}}
					div.pull-right
						div.btn-rmv-project(tooltip="Copy to clipboard", tooltip-trigger="mouseenter", ngclipboard='', data-clipboard-text="{{project.path}}")
							span.glyphicon.glyphicon-share
						div.btn-rmv-project(tooltip="Go to", tooltip-trigger="mouseenter", ng-click="goToProject($event,project.id)")
							span.glyphicon.glyphicon-new-window

				.panel-body(collapse='project.current ? !project.isCollapsed : project.isCollapsed')
					.row
						div.col-sm-3.project-label
							| Start date:
						div.col-sm-9
							| {{project.startDate | date:'dd/MM/yyyy'}}
					.row.voffset3(ng-repeat='tech in project.technologies | unique')
						div.col-sm-3.project-label
							| {{tech.category.name}}:
						div.col-sm-9
							button.stars-4(ng-repeat = 'tech in project.technologies | filter: {category: {id: tech.category.id}}') {{tech.name}}
					.row.voffset3
						div.col-sm-3.project-label
							| Description:
						div.col-sm-9
							| {{project.description}}
					.row.voffset3
						div.col-sm-12.project-label(ng-show='project.participants.length')
							| Team members:
						div.col-md-6.col-sm-6.clearfix.voffset2(ng-repeat="participant in project.participants")
							a.participant-photo(href="#", ng-click="findUser($event, participant.id)")
								div.participant-photo-wrap
									img.img-responsive(ng-src="{{participant.avatar.urlAva}}")
							span
								strong
									a(href="#", ng-click="findUser($event, participant.id)") {{participant.name}} {{participant.surname}}
							p.participant-role {{participant.role}}
					.row.voffset3
						div.col-sm-12.project-label(ng-show='project.screenshots.length')
							| Screenshots:
						div.col-sm-4(ng-repeat='screenshot in project.screenshots')
							img.img-responsive(ng-src='{{screenshot.img}}', ng-click="open(screenshot, project.screenshots)")
