form.form-inline
    .form-group
        .container(style='padding-top: 60px;')
            h1.page-header Edit Profile
            .row
                // left column
                .col-md-4.col-sm-6.col-xs-12
                    h3 Personal info
                    form.form-horizontal(role='form')
                        form.form-signin
                            //|{{user.name}}
                            p.UP-edit-form-desc Name
                            h3.UP-edit-form-data(contenteditable='true') Ivan
                            hr
                            p.UP-edit-form-desc Surname
                            h3.UP-edit-form-data(contenteditable='true') Ivanovych
                            hr
                            p.UP-edit-form-desc Country
                            h3.UP-edit-form-data(contenteditable='true') Ukraine
                            hr
                            p.UP-edit-form-desc City
                            h3.UP-edit-form-data(contenteditable='true') Lviv
                            hr
                            p.UP-edit-form-desc Email
                            h3.UP-edit-form-data(contenteditable='true') iivanov@gmail.com
                            hr
                            p.UP-edit-form-desc Password
                            input.UP-edit-form-data(type='password', contenteditable='true')
                            p.UP-edit-form-desc Birthday
                            .input-group
                                input.form-control(type='text', datepicker-popup="dd-MMMMM-yyyy", ng-model='date', is-open='opened', min-date='minDate', max-date="'2020-06-22'", datepicker-options='dateOptions', date-disabled='disabled(date, mode)', ng-required='true', close-text='Close')
                                span.input-group-btn
                                  button.btn.btn-default(type='button', ng-click='openDatepicker($event)')
                                        i.glyphicon.glyphicon-calendar
                            //- #dp3.input-append.date.UP-edit-form-data(data-date='12-02-2012', data-date-format='dd-mm-yyyy')
                                input.datepicker(type='text', name='date')
                                span.add-on
                                    i.icon-th
                            input.btn.btn-primary(value='Save Changes', type='button')
                            span
                            input.btn.btn-default(value='Cancel', type='reset')
                .col-md-6.col-sm-6.col-xs-12.personal-info
                    img.avatar.img-thumbnail(src='images/Unknown.png', alt='avatar')
                    h6 Upload a different photo...
                    input.text-center.well.well-sm(type='file')