form.form-inline
    .form-group
        .container(style='padding-top: 60px;')
            h1.page-header Edit Profile
            .row
                // left column

                .col-md-4.col-sm-6.col-xs-12

                    h3 Personal info
                    form.form-horizontal(role='form')
                        form.form-signin(ng-controller="userCtrl")
                            p.UP-edit-form-desc Name
                            h3.UP-edit-form-data(contenteditable='true') {{user.name}}
                            hr
                            p.UP-edit-form-desc Surname
                            h3.UP-edit-form-data(contenteditable='true') {{user.surname}}
                            hr
                            p.UP-edit-form-desc Country
                            h3.UP-edit-form-data(contenteditable='true') {{user.country}}
                            hr
                            p.UP-edit-form-desc City
                            h3.UP-edit-form-data(contenteditable='true') {{user.city}}
                            hr
                            p.UP-edit-form-desc Email
                            h3.UP-edit-form-data(contenteditable='true') {{user.email}}
                            hr
                            p.UP-edit-form-desc Password
                            input.UP-edit-form-data(type='password', contenteditable='true')
                            p.UP-edit-form-desc Birthday
                            #dp3.input-append.date.UP-edit-form-data(data-date='12-02-2012', data-date-format='dd-mm-yyyy')
                                input.datepicker(type='text', name='date')
                                span.add-on
                                    i.icon-th
                            input.btn.btn-primary(value='Save Changes', type='button')
                            span
                            input.btn.btn-default(value='Cancel', type='reset')
                .col-md-6.col-sm-6.col-xs-12.personal-info
                    img.avatar.img-thumbnail(src= "{{user.avatar.urlAva}}", alt='avatar')
                    h6 Upload a different photo...
                    input.text-center.well.well-sm(type='file')