div(ng-controller='userProfileDataController as ctrl')
    tabset
        tab(ng-repeat='tab in ctrl.tabs', heading='{{tab.title}}', active='tab.active', disable='tab.disabled')
            br
            .page(ng-include='', src="tab.content")
