
.voffset
	margin-top 2px 
.voffset1
	margin-top 5px
.voffset2
	margin-top 10px
.voffset3
	margin-top 15px
.voffset4
	margin-top 30px
.voffset5
	margin-top 40px
.voffset6
	margin-top 60px
.voffset7
	margin-top 80px
.voffset8
	margin-top 100px
.voffset9
	margin-top 150px

.horizontal-align
	text-align center

.no-resize
	resize vertical
	
.edit-btn, .upload-btn, .del-btn
	position absolute
	top 10px
	right 25px
	
.achieve-name, .cert-name
	padding 10px
	text-align center
	
.achieve-category, .cert-category
	padding 0 10px 10px 10px
	text-align center
	
.full-width
	width 100%
	
.col-height
	height auto