.dropdown-menu li a,
.glyphicon-star,
.project-header,
.screenshot,
.participant-photo
  cursor pointer

.btn-add-tech, .btn-add-project
  display none
  left 130px
  opacity 0.4
  position absolute !important
  top 10px
  a
    color #333 !important
  &:hover
    opacity 1

.btn-add-project
  left 90px !important

.user-technologies
  &:hover
    .btn-add-tech
      display block

.user-projects
  &:hover
    .btn-add-project
      display block

#project-description
  resize vertical !important

.category-name, .project-label
  color #8D8D8D

.technologies-list
  list-style-type none
  padding-left 0 !important
  li
    margin-bottom 10px

.stars-1
  border-radius 20px
  margin-left 5px
  background-color hsl(36, 100%, 79%) !important
  background-repeat repeat-x
  filter unquote("progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcf9', endColorstr='#ffd493')")
  background-image -khtml-gradient(linear, left top, left bottom, from(#fffcf9), to(#ffd493))
  background-image -moz-linear-gradient(top, #fffcf9, #ffd493)
  background-image -ms-linear-gradient(top, #fffcf9, #ffd493)
  background-image -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fffcf9), color-stop(100%, #ffd493))
  background-image -webkit-linear-gradient(top, #fffcf9, #ffd493)
  background-image -o-linear-gradient(top, #fffcf9, #ffd493)
  background-image linear-gradient(#fffcf9, #ffd493)
  border-color #ffd493 #ffd493 hsl(36, 100%, 74%)
  color #333 !important
  text-shadow 0 1px 1px rgba(255, 255, 255, 0.33)
  -webkit-font-smoothing antialiased

.stars-2
  border-radius 20px
  margin-left 5px
  background-color hsl(36, 100%, 70%) !important
  background-repeat repeat-x
  filter unquote("progid: DXImageTransform.Microsoft.gradient(startColorstr='#feeacc', endColorstr='#ffc165')")
  background-image -khtml-gradient(linear, left top, left bottom, from(#feeacc), to(#ffc165))
  background-image -moz-linear-gradient(top, #feeacc, #ffc165)
  background-image -ms-linear-gradient(top, #feeacc, #ffc165)
  background-image -webkit-gradient(linear, left top, left bottom, color-stop(0%, #feeacc), color-stop(100%, #ffc165))
  background-image -webkit-linear-gradient(top, #feeacc, #ffc165)
  background-image -o-linear-gradient(top, #feeacc, #ffc165)
  background-image linear-gradient(#feeacc, #ffc165)
  border-color #ffc165 #ffc165 hsl(36, 100%, 65%)
  color #333 !important
  text-shadow 0 1px 1px rgba(255, 255, 255, 0.33)
  -webkit-font-smoothing antialiased

.stars-3
  border-radius 20px
  margin-left 5px
  background-color hsl(36, 100%, 59%) !important
  background-repeat repeat-x
  filter unquote("progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd493', endColorstr='#feab2d')")
  background-image -khtml-gradient(linear, left top, left bottom, from(#ffd493), to(#feab2d))
  background-image -moz-linear-gradient(top, #ffd493, #feab2d)
  background-image -ms-linear-gradient(top, #ffd493, #feab2d)
  background-image -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffd493), color-stop(100%, #feab2d))
  background-image -webkit-linear-gradient(top, #ffd493, #feab2d)
  background-image -o-linear-gradient(top, #ffd493, #feab2d)
  background-image linear-gradient(#ffd493, #feab2d)
  border-color #feab2d #feab2d hsl(36, 100%, 54%)
  color #333 !important
  text-shadow 0 1px 1px rgba(255, 255, 255, 0.33)
  -webkit-font-smoothing antialiased

.stars-4
  border-radius 20px
  margin-left 5px
  background-color hsl(36, 100%, 50%) !important
  background-repeat repeat-x
  filter unquote("progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc165', endColorstr='#ff9900')")
  background-image -khtml-gradient(linear, left top, left bottom, from(#ffc165), to(#ff9900))
  background-image -moz-linear-gradient(top, #ffc165, #ff9900)
  background-image -ms-linear-gradient(top, #ffc165, #ff9900)
  background-image -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffc165), color-stop(100%, #ff9900))
  background-image -webkit-linear-gradient(top, #ffc165, #ff9900)
  background-image -o-linear-gradient(top, #ffc165, #ff9900)
  background-image linear-gradient(#ffc165, #ff9900)
  border-color #ff9900 #ff9900 hsl(36, 100%, 45%)
  color #333 !important
  text-shadow 0 1px 1px rgba(255, 255, 255, 0.33)
  -webkit-font-smoothing antialiased

.stars-5
  border-radius 20px
  margin-left 5px
  background-color hsl(36, 100%, 40%) !important
  background-repeat repeat-x
  filter unquote("progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffad32', endColorstr='#cc7a00')")
  background-image -khtml-gradient(linear, left top, left bottom, from(#ffad32), to(#cc7a00))
  background-image -moz-linear-gradient(top, #ffad32, #cc7a00)
  background-image -ms-linear-gradient(top, #ffad32, #cc7a00)
  background-image -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffad32), color-stop(100%, #cc7a00))
  background-image -webkit-linear-gradient(top, #ffad32, #cc7a00)
  background-image -o-linear-gradient(top, #ffad32, #cc7a00)
  background-image linear-gradient(#ffad32, #cc7a00)
  border-color #cc7a00 #cc7a00 hsl(36, 100%, 35%)
  color #333 !important
  text-shadow 0 1px 1px rgba(255, 255, 255, 0.33)
  -webkit-font-smoothing antialiased

.uploaded-img-wrap
  position relative

.btn-rmv-project, .btn-edit-project
  display inline-block
  margin-left 10 px
  opacity 0.4

.btn-rmv-project
  &:hover
    opacity 1

.btn-edit-project
  &:hover
    opacity 1

#inputFile
  font-size 14px !important

.thumb-x
  color #fff !important
  font-size  12px !important
  opacity 0.6 !important

.thumb-x-btn
  cursor pointer
  display block
  background rgba(0, 0, 0, 0.5)
  border-radius 3px
  -moz-border-radius 3px
  -webkit-border-radius 3px
  line-height normal !important
  padding 2px 4px
  position absolute
  right 0
  top 0
  &:hover
    .thumb-x
      opacity  0.8

.project
  position relative

.participant-photo
  float left
  padding-right 10px

.participant-photo-wrap
  height 60px
  overflow hidden
  width  60px

.participant-role
  overflow hidden
  text-overflow ellipsis
  white-space nowrap
  width 170px

.screenshot-wrap
  height 100px
  overflow hidden
  width 140px

.logo-wpap
  background-color #000
  padding 5px 10px
  position absolute
  right 15px