body, html
  background-color #EAEAEA
  height 100%

header
  background-color black
  padding-top 10px
  padding-bottom 10px

.logo
  height 50px

// main
//   min-height 100%

.nav-tabs
  & > li
    & > a
      background-color #ffa500
      border-radius 6px
      margin-right -6px

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus
  border-bottom-color #ddd

.article
  background-color white
  border-radius 20px
  padding 50px
  margin-top 40px
  margin-bottom 40px

#nav
  margin-top 100px
  padding-right 0px

// footer
//   height 20px
//   background-color #ffa500