body{
	background-color: #ddd;
}
header{
height: 150px;
background-color: grey;
}
header>.container-fluid>.col-lg-2{
	background-color: #ffa500;
	height: 150px;
}
.nav-tabs > li > a{
	background-color: #ffa500;
	border-radius: 6px;
	margin-right: -6px;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
	border-bottom-color:#ddd;
}
.article{
	height: min-height;
	background-color: white;
	border-radius: 20px;
	padding: 50px;
}
#nav{
	margin-top: 15px;
	padding-right: 0px;
}
.pdp input[type='checkbox'] {
 position: relative !important;
 margin-left: 15px;
}
.pdp label {
 font-weight: normal;
}
.prettyBadge{
	background-color: yellow;
	font-size: 20px;
	border-radius: 10px;
	padding-right: 15px;
	padding-left: 15px;
}
footer{
	height: 20px;
	background-color:#ffa500;
}
.form-group{
	width: 100%
}
img {
	width: 30%;
}
.page-header{
	margin: -30px 0px 14px;
	width: 50%;
}
.text-center{
	width: 30%;
}
h3 {
	margin-top: -10px;
}
hr{
	margin-top: auto;
	margin-bottom: auto;
}
.btn{
	margin-top: 10%;
	margin-bottom: 10%;
}