body{
	background-color: #ddd;
}
header{
height: 150px;
background-color: grey;
}
header>.container-fluid>.col-lg-2{
	background-color: #ffa500;
	height: 150px;
}
.nav-tabs > li > a{
	background-color: #ffa500;
	border-radius: 6px;
	margin-right: -6px;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
	border-bottom-color:#ddd;
}
.article{
	background-color: white;
	border-radius: 20px
}
#nav{
	margin-top: 15px;
	padding-right: 0px;
}
footer{
	height: 20px;
	background-color:#ffa500;
}
.avatar {
	width: 50%;
}