.pdp label 
	font-weight normal

.prettyBadge
	background-color yellow
	font-size 20px
	border-radius 10px
	padding-right 15px
	padding-left 15px
	
.completed
	text-decoration line-through
	
.scrollable-menu
	height auto
	max-height 200px
	overflow-x hidden
	
.scrollable-list
	height auto
	max-height 400px
	overflow-x hidden
	
.round-btn
	border-radius 50%
	margin-left 20px
	border 0px

.add-achievement
	background #F5F5F5
	height 250px
	border 1px solid #DDDDDD
	border-radius 5px
	text-align center
	font-size 17px
	color #8C8989
	cursor pointer
	
.plus
	font-size 45px
	margin-top 80px
	margin-bottom 20px