.personal-info
	text-align center

.avatar
	margin-bottom 10px
	width 100%
  
.errorborder
	border-color: #BD330D
.error-block
	p
		font-size: 12px
		color: #BD330D
.project-name-edit
	width: 30%
	display: inline-block
	margin-bottom: 0
.project-title
	display: inline
.overhidden
	overflow: hidden
.filter-list
	width: 100%
	

