.modal-header
	h3.modal-title Crop your avatar
.modal-body.row
	.col-md-9
		img#img-crop(src="{{image}}")
	.col-md-3
		.preview
.modal-footer
	button.btn.btn-primary(type='button', ng-click='ok()') OK
	button.btn.btn-warning(type='button', ng-click='cancel()') Cancel